      <li>
        <a href="#/about">+pal050+</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle promoted-navbar-link" data-toggle="dropdown"><i class="fa fa-globe icon-2"></i> +pal011+ <b class="caret"></b></a>
        <ul class="dropdown-menu">+idiomas+
          <!--<li>
            <a rel="nofollow" href="#" class="idioma en">English</a></li>
          <li>
            <a rel="nofollow" href="#" class="idioma es">Español</a></li>
          <li>
            <a rel="nofollow" href="#" class="idioma fr">Français</a></li>
          <li>
            <a rel="nofollow" href="#" class="idioma it">Italiano</a></li>
          <li>
            <a rel="nofollow" href="#" class="idioma zh">中国</a></li>-->
        </ul>
      </li>
    </ul>
  </nav>
</div>

<!--
<li><a href="#/about">+pal050+</a></li></ul><ul class="nav navbar-nav navbar-right"><li class="dropdown"><a href="#" class="dropdown-toggle promoted-navbar-link" data-toggle="dropdown"><i class="fa fa-globe icon-2"></i> +pal011+ <b class="caret"></b></a><ul class="dropdown-menu">+idiomas+</ul></li></ul></nav></div>
-->
