      <li>
      <a href="#/">+pal139+</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle promoted-navbar-link" data-toggle="dropdown"><i class="fa fa-globe icon-2"></i> +pal011+ <b class="caret"></b></a>
      <ul class="dropdown-menu">+idiomas+
      </ul>
    </li>
  </ul>
</nav>
</div>

<!--
<li><a href="#/">+pal139+</a></li></ul><ul class="nav navbar-nav navbar-right"><li class="dropdown"><a href="#" class="dropdown-toggle promoted-navbar-link" data-toggle="dropdown"><i class="fa fa-globe icon-2"></i> +pal011+ <b class="caret"></b></a><ul class="dropdown-menu">+idiomas+</ul></li></ul></nav></div>
-->
