    <li class="active">
      <a href="#/administrativeFacturas">+pal064+</a></li>
    <li>
      <a href="#/administrativeOrdenesTrabajo">+pal067+</a></li>
    <li>
      <a href="#/administrativeSupervisores">+pal068+</a></li>
    <li>
      <a href="#/administrativeEmpresas">+pal069+</a></li>
    <li>
      <a href="#/logout">+pal036+</a></li>
    </ul>
  </nav>
</div>

<!--
<li class="active"><a href="#/administrativeFacturas">+pal064+</a></li><li><a href="#/administrativeOrdenesTrabajo">+pal067+</a></li><li><a href="#/administrativeSupervisores">+pal068+</a></li><li><a href="#/administrativeEmpresas">+pal069+</a></li><li><a href="#/logout">+pal036+</a></li></ul></nav></div>
-->